:root {
    --primary-color: #ffd700;
    --secondary-color: #800080;
    /* --background-color: #efefef; */
    --text-color: #444444;
}

.thumnails{
      height: 100% !important;
      
}

.card{
    height: 100% !important;
}