.navbar {
    background-color: #333;
    padding: 10px 15px;
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}

.navbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #faebd7;
}

#search {
    color: #faebd7;
    border: 1px solid #faebd7;
    border-radius: 10px;
    background: 0;
    outline: 0;
}