{% load static %}
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} MugenVerse</title>

    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'home' %}" class="navbar-brand">MugenVerse</a>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="{% url 'home' %}" class="navbar-link">Home</a></li>
                {% for category in categories %}
                    <li class="navbar-item"><a href="{% url 'category_posts' category.slug %}" class="navbar-link">{{category.name}}</a></li>
                {% endfor %}
                <li class="navbar-item">
                    <form action="{% url 'search_results' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="q" value="{{ request.GET.get.q }}" id="search" placeholder="Search...">
                    </form>
                </li>
            </ul>
            <img onclick="showsidebar()" src="{% static 'images/square-minus.svg' %}" alt="" class="sidebar-icons" id="showsidebar">
            <img onclick="hidesidebar()" src="{% static 'images/x.svg' %}" alt="" class="sidebar-icons" id="disablesidebar">
        </div>

        <div>
            {% comment %} navigation sidebar {% endcomment %}
            <ul class="navbar-menu-sidebar">
                <li><a href="{% url 'home' %}" class="navbar-link">Home</a></li>
                {% for category in categories %}
                    <li><a href="{% url 'category_posts' category.slug %}" class="navbar-link">{{category.name}}</a></li>
                {% endfor %}
                <li>
                    <form action="{% url 'search_results' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="q" value="{{ q }}" id="search" placeholder="Search...">
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="main-content">
            {% block content %}

            {% endblock %}
        </div>
        <div class="sidebar">
            <!-- sidebar content here -->
            <h3>Recent Posts</h3>
            <ul>
                {% for post in recent_posts %}
                    <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li> <hr>
                {% endfor %}
            </ul>
            {% comment %} <img src="{{ post_detail.image.url }}" alt="Blog Post Image"> - Ads image{% endcomment %}
        </div>
    </div>

    <footer class="footer-section">
        <p class="copyright">&copy; 2024 MugenVerse. All rights reserved.</p>
    </footer> 

    <script src="{% static 'js/bulma.min.js' %}"></script>

    <script>
        const showtoggle = document.getElementById('showsidebar');
        const disabletoggle = document.getElementById('disablesidebar');


        function showsidebar() {
            const sidebar = document.querySelector('.navbar-menu-sidebar');
            sidebar.style.display = 'flex';
            disabletoggle.style.display = 'flex';
            showtoggle.style.display = 'none';
        }

        function hidesidebar() {
            const sidebar = document.querySelector('.navbar-menu-sidebar');
            sidebar.style.display = 'none';
            showtoggle.style.display = 'flex';
            disabletoggle.style.display = 'none';

        }
    </script>
</body>
</html>