{% load static %}
<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} MugenVerse</title>

    <link rel="stylesheet" href="{% static 'core/core.css' %}">
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <div class="navbar-items">
                <img src="{% static 'images\square-minus.svg' %}" alt="">
            </div>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <small><strong>MugenVerse</strong></small>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item is-hoverable">
                    <a href="{% url 'home' %}" class="navbar-item">Home</a>
                    {% for category in categories %}
                        <a href="{% url 'category_posts' category.slug %}" class="navbar-item">{{category.name}}</a>
                    {% endfor %}
                    <form action="{% url 'search_results' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="q" value="{{ request.GET.get.q }}" id="search" placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="main-content">
            {% block content %}

            {% endblock %}
        </div>
        <div class="sidebar">
            <!-- sidebar content here -->
            <h3>Recent Posts</h3>
            <ul>
                {% for post in recent_posts %}
                    <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li> <hr>
                {% endfor %}
            </ul>
            {% comment %} <img src="{{ post_detail.image.url }}" alt="Blog Post Image"> - Ads image{% endcomment %}
        </div>
    </div>

    <footer class="footer-section">
        <p class="copyright">&copy; 2024 MugenVerse. All rights reserved.</p>
    </footer> 

    <script src="{% static 'js/bulma.min.js' %}"></script>

    <script>
        
    </script>
</body>
</html>