{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en-gb" class="dark-theme">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} MugenVerse</title>

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "core/core.scss" %}" />
    {% endcompress %}
    <link rel="stylesheet" href="{% static 'core/core.css' %}">
    {% load django_simple_bulma %}
    {% bulma %}
    {% font_awesome %}
</head>
<body>
    {% comment %} Menu starts {% endcomment %}
    <nav class="navbar is-success">
        <div class="navbar-brand">
            <div class="navbar-items">
                <img src="{% static 'images\cropped-cropped-TMM-Logo-World-1.png' %}" alt="logo" width="24px" height="auto">
            </div>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="{% url 'home' %}" class="navbar-item">
                    <small><strong>MugenVerse</strong></small>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item is-hoverable">
                    <a href="{% url 'home' %}" class="navbar-item">Home</a>
                    {% for category in categories %}
                        <a href="{% url 'category_posts' category.slug %}" class="navbar-item">{{category.name}}</a>
                    {% endfor %}
                    <form action="{% url 'search_results' %}" method="get">
                        {% csrf_token %}
                        <input class="input" type="search" name="q" value="{{ request.GET.get.q }}" id="search" placeholder="Search...">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    {% comment %} Menu ends {% endcomment %}

    {% comment %} sidebar and main content column {% endcomment %}
    <section class="section">
        <div class="columns">
            <div class="column">
                {% block content %}

                {% endblock %}
            </div>
            <div class="column is-one-quarter">
                <aside class="menu is-success">
                    <!-- sidebar content here -->
                    <h3>Recent Posts</h3>
                    <ul class="menu-list">
                        {% for post in recent_posts %}
                            <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li> <hr>
                        {% endfor %}
                    </ul>
                    {% comment %} <img src="{{ post_detail.image.url }}" alt="Blog Post Image"> - Ads image{% endcomment %}
                </aside>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p class="copyright">&copy; 2024 MugenVerse. All rights reserved.</p>
        </div>
    </footer>

    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>