{% extends 'core/core.html' %}

{% block content %}
    <div class="container">
        <div class="content is-medium">
            <h2>{{ post_detail.title }}</h2>
            <p>{{ post_detail.author }} | {{ post_detail.posted_on }}</p>
            {% if post_detail.image %}
                <figure>
                    <img class="" src="{{ post_detail.image.url }}" alt="{{ post_detail.title }}">
                    <figcaption>{{ post_detail.title }}</figcaption>
                </figure>                
            {% endif %}
            <p id="content">{{ post_detail.content | safe }}</p>
        </div>
        
        <div class="content">
            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}
                    <div class="comment">
                        <figure class="image is-32x32">
                            <img class="is-rounded" src="{{ post_detail.image.url }}" alt="userimg">
                        </figure>
                        <li>{{ comment.name }}: <br>{{ comment.body }}</li>
                    </div> <hr>
                {% empty %}
                    <li>No comments yet.</li>
                {% endfor %}
            </ul>

            <h2>Leave a comment</h2>
            <form method="post" action="{% url 'add_comment' post_detail.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Add comment</button>
            </form>
        </div>
    </div>
{% endblock %}