:root {
    --primary-color: #ffd700 !important;
    --secondary-color: #800080 !important;
    --background-color: #e2dfdf;
    --text-color: #444444 !important;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

aside {
    background: var(--primary-color);
    padding: 20px;
}

.navbar {
    background: var(--primary-color) !important;
}

.navbar a:hover {
    background: #fff !important;
    color: #444444 !important;
}

.thumnails{
      height: 100% !important;
      
}

.card{
    height: 100% !important;
    background: #bbb9b9 !important;
}

.content li {
    list-style: none;
}

.comment {
    display: flex;
}