:root {
    --primary-color: gold;
    --secondary-color: purple;
    --background-color: #efefef;
    --text-color: #444444;
}

/* .thumnails{
      height: 100% !important;
      
} */

.card{
    height: 100% !important;
}